.container{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: #f9f9f9;
    font-family: inherit;
  }
.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f3efec;
  flex:1;
  width: 100%;
}
.menu h1{
  margin: 1rem 1rem;
}
.image{
  height: 100px;
  width: 90px;
  background: url('C:/Kamil/Kurs_IT/Zajecia_8/Zadania/React/Full-Stack-ToDo-Aplication/src/components/pictures/toDoListPic.png') 40% 40% no-repeat;
  border-radius: 50%; 
  margin-top: 3rem;
  margin-left: 1rem;
}
.button-add-user{
    font-weight: bold;
    background-color: #13d326;
    border-radius: 10px;
    padding: 0.7rem;
    color: white;               
    margin-top: 1rem;
}
.button:hover,
.button-menu:hover,
.user-open:hover,
.close-btn:hover,
.button-submit:hover,
.button-user:hover{
  cursor: pointer;
}
.menu-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  flex:3;
}
.button-menu{
  background: transparent;
  border: none;
  font-size: 1.5rem;
  margin-top: 2rem;
}
.user-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5rem;
  flex:5;
  width: 100%;
}
.user-list h1, .to-do-list h1{
  font-size: 3rem;
  border-bottom: solid grey;
}
.one-user{
  margin: 0.5rem 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border:solid silver;
  border-radius: 5px;
  flex-wrap: wrap;
}
.avatar{
  height: 60px;
  width: 60px;
  background: url('C:/Kamil/Kurs_IT/Zajecia_8/Zadania/React/Full-Stack-ToDo-Aplication/src/components/pictures/avatar.png') center no-repeat;
  border-radius: 50%; 
}
.user, .user-open{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 2rem;
}
.account{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.user-data{
  margin: 0 2rem;
  font-weight: bold;
  font-size: 1.1rem;
}
.user-title{
  color: grey;
  font-size: 0.6rem;
  margin: 0 0;
}
.user-value{
  margin: 0.5rem 0;
}
.user-value-status{
  margin: 0.5rem 0;
  color:#00cc00;
}
.buttons{
  display: flex;
  flex-direction: row;
}
.button{
  font-weight: 750;
  background-color: #13d326;
  border-radius: 10px;
  padding: 10px;
  color: white;
}
.button-user{
  font-weight: 750;
  background-color: #13d326;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin: 0.2rem;
}
.button-submit{
  font-weight: 750;
  background-color: #13d326;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin-top: 1rem;
}
.button-complete,
.button-delete {
  border: none;
  outline:none;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.5rem;
  border-radius: 50%;
}
.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: black;
  opacity: 0.6;
}
.ok {
  color: red;
}
.off{
  display: none;
}
.new-user-on{
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
}
.input{
  color: black;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  margin-top: 0.5rem;
  width: 85%;
}
.form-desc{
  margin-bottom:0.5rem;
  font-size: 0.7rem;
  color: red;
}
.to-do-list{
    display: flex;
    flex-direction: column;
    margin: 5%;
    border-radius: 15px;
    flex:5;
}
.new-task{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.input-task{
  color: black;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 0.5rem;
  min-width: 20%;
}
.tasks{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.one-task{
    font-weight: 700;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    border:solid silver;
    border-radius: 5px;
    flex-wrap: wrap;
}

.delete-all-button{
    font-weight: 750;
    background-color: #13d326;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    width: 40%;
    align-self: center;
  }
.button-admin{
  font-weight: 750;
  background-color: #13d326;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin-bottom: 1rem;
}
.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup-inner{
  position:relative;
  padding: 3rem;
  max-width: 640px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.popup-inner .close-btn{
  position:absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border:none;
  font-weight: 800;
  font-size: 1rem;
}
.login-btn{
  background-color: #13d326;
  border-radius: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}